
/// @access public
/// @param {String} $v
@mixin transition($v){
  -webkit-transition: #{$v};
  transition: #{$v};
}

/// @access public
/// @param {String} $v
@mixin transition-property($v){
  -webkit-transition-property: #{$v};
  transition-property: #{$v};
}

/// @access public
/// @param {String} $v
@mixin transition-duration($v){
  -webkit-transition-duration: #{$v};
  transition-duration: #{$v};
}

/// @access public
/// @param {String} $v
@mixin transition-delay($v){
  -webkit-transition-delay: #{$v};
  transition-delay: #{$v};
}

/// @access public
/// @param {String} $v
@mixin transition-timing-function($v){
  -webkit-transition-property: #{$v};
  transition-timing-function: #{$v};
}